nav[b-soj9rbgjfe] {
    padding-top: 50px;
    height: 100vh;
}

nav a[b-soj9rbgjfe] {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0 20px 20px 20px;
    text-shadow: 10px 10px 10px black;
}

.nav-item[b-soj9rbgjfe] {
    font-size: 1.2em;
}

.nav-item:hover[b-soj9rbgjfe]  {
    background-color: rgb(18, 95, 91);
}

@media screen and (max-width: 700px) {
    nav[b-soj9rbgjfe] {
        padding-top: 20px;
        height: auto;
        text-align: center;
    }
   
}
