.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1:focus {
    outline: none;
    border: none;
}

.sidebar {
    background-color: rgb(26, 134, 129);
}

@media (min-width: 700px) {
    .page {
        flex-direction: row;
    }
}
