@page "/convert"

<PageTitle>Konvertering</PageTitle>

<h1>Konvertering</h1>

<div>
    <h2>Meter till fot</h2>
    <input type="number" @bind="meter" placeholder="Ange antal meter">

    <button @onclick="ConvertMeterToFeet">Konvertera</button>

    <p>Resultat: @meterInFeet fot</p>
</div>

<div>
    <h2>Km/h till miles/hour</h2>
    <input type="number" @bind="kmPerHour" placeholder="Ange hastighet i km/h" />

    <button @onclick="ConvertKmToMiles">Konvertera</button>
    
    <p>Resultat: @milesPerHour miles/hour</p>
</div>


@code {

    //Konvertera meter till fot

    //Variabler
    private double meter;
    private double meterInFeet;

    //Metod för att konvertera meter till fot
    private void ConvertMeterToFeet()
    {
        meterInFeet = Math.Ceiling(meter * 3.28084 * 10) / 10;
    }


    //Konvertera kilometer/timme till miles/timme.

    //Variabler
    private double kmPerHour;
    private int milesPerHour;

    //Metod för att konvertera km/h till miles/h
    private void ConvertKmToMiles()
    {
        milesPerHour = (int)Math.Round(kmPerHour * 0.621371);
    }

}
