@page "/"

<PageTitle>Home</PageTitle>

<h1>Välkommen</h1>

<p>
    Denna applikation är skapad som en del av moment 1.2 i kursen Webbutveckling med .NET. 
    Syftet med applikationen är att visa användningen av Blazor WebAssembly 
    och dess funktionalitet för att skapa interaktiva webbapplikationer.
    Det finns möjlighet till konvertering från meter till fot och även km/h till miles/h.
</p>


